<div class="row">
  <div class="col-md-4 order-md-2 mb-4 card">
    <div class="card-body">
      <h4 class="card-title">
        <span class="text-muted">Add Question</span>
      </h4>
      <form #f="ngForm">
        <div class="form-group">
          <input [(ngModel)]="question" name="question" type="text" class="form-control" placeholder="Question"
            required>
        </div>
        <div class="form-group">
          <input [(ngModel)]="image" name="image" type="text" class="form-control" placeholder="URL" required>
        </div>
        <div class="form-group">
          <input [(ngModel)]="status" name="status" type="text" class="form-control" placeholder="Status" required>
        </div>
        <div class="form-group">
          <input [(ngModel)]="author" name="author" type="text" class="form-control" placeholder="Author" required>
        </div>

        <!-- <select [(ngModel)]="categoryName" formControlName="city" class="form-control input-sm">
          <option *ngFor="let cat of categories" [ngValue]="cat">{{cat.categoryName}}</option>
        </select> -->

        <div class="form-group">
          <input [(ngModel)]="category" name="category" type="text" class="form-control" placeholder="Category"
            required>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-check"></i></div>
            </div>
            <input [(ngModel)]="correctAnswer" name="correctAnswer" type="text" class="form-control" placeholder="Correct Answer"
              required>
          </div>
        </div>
        <div class="form-group">

          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-times"></i></div>
            </div>
            <input [(ngModel)]="wrongAnswer1" name="wrongAnswer1" type="text" class="form-control" placeholder="Wrong Answer 1"
              required>
          </div>
        </div>
        <div class="form-group">

          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-times"></i></div>
            </div>
            <input [(ngModel)]="wrongAnswer2" name="wrongAnswer2" type="text" class="form-control" placeholder="Wrong Answer 2"
              required>
          </div>
        </div>
        <div class="form-group">

          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-times"></i></div>
            </div>
            <input [(ngModel)]="wrongAnswer3" name="wrongAnswer3" type="text" class="form-control" placeholder="Wrong Answer 3"
              required>
          </div>
        </div>
        <p *ngIf="loading">
          <i class="fa fa-spinner fa-spin"></i>
        </p>
        <div class="form-group">
          <button class="btn btn-outline-light btn-block" (click)="clearValues()">
            Clear Values
          </button>
          <button class="btn btn-outline-light btn-block" [disabled]="!f.valid" (click)="onSave()">
            Save
          </button>

        </div>
      </form>
    </div>
  </div>

  <div class="col-md-8 order-md-1">
    <h4 class="mb-3">Quiz Entries</h4>
    <table class="table table-dark table-responsive">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Question</th>
          <th scope="col">Status</th>
          <th scope="col">Category</th>
          <th scope="col">Author</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quiz of quiz | async; let i = index" [attr.data-index]="i">
          <td><img [src]="quiz.image" alt="" width="50" height="50"></td>
          <td>{{quiz.question}}</td>
          <td>{{quiz.status}}</td>
          <td>{{quiz.category}}</td>
          <td>{{quiz.author}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Options">
              <button class="btn btn-outline-success" (click)="onEdit(quiz)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-outline-danger" (click)="onDelete(quiz)">
                <i class="fa fa-remove"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>