// TODO: Refactor styles and distribute to partials/components/bootstrap overrides
@import "~bootstrap/dist/css/bootstrap.css";

$fa-font-path: "../node_modules/font-awesome/fonts";

@import "~font-awesome/scss/font-awesome.scss";

main {
    margin-top: 5em;
}

body {
    background-color: #2f2f2f;
}

.card {
    background-color: #252526;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

.text-muted {
    color: #b5b6b7 !important;
}

.bg-dark {
    background-color: #1e1e1e !important;
}

.table-dark {
    background: #252526;
}
